# Files to be ignored while creating the docker image for web application to keep it as lean as possible
.git
.gitignore
.env
Dockerfile*
docker-compose*
README.md
LICENSE
.vscode
arch/
bin/
data/
